<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JUGademy Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<a href="/person-viewer">Show created persons</a>

<!--/*@thymesVar id="message" type="java.lang.String"*/-->
<p th:text="${message}"></p>

<!--/*@thymesVar id="person" type="com.github.mkopylec.springbootdemo.Person"*/-->
<form method="post" th:object="${person}">
    <label for="name">Name: </label><input id="name" type="text" th:field="*{name}"/><br/>
    <label for="surname">Surname: </label><input id="surname" type="text" th:field="*{surname}"/><br/>
    <label for="age">Age: </label><input id="age" type="number" th:field="*{age}"/><br/>
    <input type="submit" value="Create person"/>
</form>

</body>
</html>